[submodule "visuals/togetherwearerobots"]
	path = visuals/togetherwearerobots
	url = https://github.com/ControllingTransmission/togetherwearerobots.git
[submodule "visuals/encowell"]
	path = visuals/encowell
	url = https://github.com/ControllingTransmission/encowell.git
[submodule "visuals/doctorpopular"]
	path = visuals/doctorpopular
	url = https://github.com/ControllingTransmission/doctorpopular.git
[submodule "visuals/sacredgeo"]
	path = visuals/sacredgeo
	url = https://github.com/ControllingTransmission/sacredgeo.git
[submodule "visuals/hues"]
	path = visuals/hues
	url = https://github.com/ControllingTransmission/hues.git
